/*
  HTML5 ✰ Boilerplate, natch.
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}body{font:13px/1.231 sans-serif;*font-size:small}select,input,textarea,button{font:99% sans-serif}pre,code,kbd,samp{font-family:monospace,sans-serif}body,select,input,textarea{color:#444}h1,h2,h3,h4,h5,h6{font-weight:bold}html{overflow-y:scroll}a:hover,a:active{outline:none}a,a:active,a:visited{color:#607890}a:hover{color:#036}ul,ol{margin-left:0em}ol{list-style-type:decimal}nav ul,nav li{margin:0}small{font-size:85%}strong,th{font-weight:bold}td{vertical-align:top}sub,sup{font-size:75%;line-height:0;position:relative}sup{top:-0.5em}sub{bottom:-0.25em}pre{white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word;padding:15px}textarea{overflow:auto}.ie6 legend,.ie7 legend{margin-left:-7px}input[type="radio"]{vertical-align:text-bottom}input[type="checkbox"]{vertical-align:bottom}.ie7 input[type="checkbox"]{vertical-align:baseline}.ie6 input{vertical-align:text-bottom}label,input[type="button"],input[type="submit"],input[type="image"],button{cursor:pointer}button,input,select,textarea{margin:0}input:invalid,textarea:invalid{border-radius:1px;-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;box-shadow:0 0 5px red}.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd}::-moz-selection{background:#ff5e99;color:#fff;text-shadow:none}::selection{background:#ff5e99;color:#fff;text-shadow:none}a:link{-webkit-tap-highlight-color:#ff5e99}button{width:auto;overflow:visible}.ie7 img{-ms-interpolation-mode:bicubic}.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr}.hidden{display:none;visibility:hidden}.visuallyhidden{border:0!important;clip:rect(0 0 0 0);height:1px!important;margin:-1px!important;overflow:hidden!important;padding:0!important;position:absolute!important;width:1px!important}.invisible{visibility:hidden}.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;visibility:hidden}.clearfix:after{clear:both}.clearfix{zoom:1}



 /* Primary Styles
    Author: Divya Manian, Paul Irish, and everyone else keen on getting W3Schools less popular or more correct
*/
@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('../assets/League_Gothic-webfont.eot');
	src: local('☺'), url('../assets/League_Gothic-webfont.woff') format('woff'), url('../assets/League_Gothic-webfont.ttf') format('truetype'), url('../assets/League_Gothic-webfont.svg#webfontFHzvtkso') format('svg');
	font-weight: normal;
	font-style: normal;
}

html { 
  background-color: hsl(42, 21%, 85%);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(5%, hsla(40, 29%, 73%, 0.2)), color-stop(5%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(top, hsla(40, 29%, 73%, 0.2) 5%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(top, hsla(40, 29%, 73%, 0.2) 5%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 100%);    
  background-size: 100% 24px;
  background-position: fixed;     
}


body { font: 16px/1.5 Georgia, "Times New Roman", Times, serif; }

a, a:visited, a:active { text-decoration: none; }

h2 { letter-spacing: 1px; }

code {
  font-size: 0.9em;
  background-color: hsl(42, 21%, 75%);
  display: inline-block;
  padding: 1px 4px;
  text-shadow: 1px 1px 1px hsl(42, 21%, 85%);

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

header h1 b, #main h2, .belief, .sucks h3 { 
  font-family: 'LeagueGothicRegular', Arial, sans-serif; 
  text-transform: uppercase; 
  letter-spacing: 0.5px;
}
                        
header h1 b { display: block; }

header { text-align: center; text-transform: uppercase; }

header h2:before { 
  content: "✪ · ✪ · ✪ · ✪ · ✪"; 
  text-shadow: none; 
  display: block;
}

.content, .intro p, .sucks li, .sucks .intro p, .sucks .intro blockquote, .intro cite { min-width: 60%; max-width: 800px; margin: 0 auto; }

.intro cite { text-align: right; font-style: italic; display:block; padding-bottom: 1.5em; }


#contributors { padding-left: 10em; position: relative; }
#contributors h2 { position: absolute; left: 0; }
#contributors a:after { content: ", "; }
#contributors a:last-child:after { content: "."; }
#contributors span.at { font-size: 65%; opacity: 0.65; -webkit-transition: 0.2;}
#contributors a:hover span.at { opacity: 1; }

.incorrect:before,
.cert:before { 
  display: block;
  content: "";
  position: absolute; 
  left: 0; 
  width: 100%; 
  border-top: 1px dotted;
}

.incorrect, .cert, .noaffiliation, .sucks li  { list-style: none; }
                  
section nav a { display: inline-block; margin: 0 1em; }
section nav a:first-child { margin-left: 0; }
section nav a:last-child { margin-right: 0; }

section nav, .belief, #main .sucks h2, footer, .sucks li li:after { text-align: center; }

.sucks li li { position: relative; }
.sucks li li:after { content: ""; display: block; margin: 0 auto; position: absolute; left: 40%; width: 30%; border-bottom: 1px dotted; }

.sucks li li:last-of-type:after { border-bottom: 0; }
.sucks h3 { letter-spacing: 2px; }

.quiz ul ul {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -moz-column-gap: 2em;
  -webkit-column-gap: 2em;
  -o-column-gap: 2em;
  -moz-column-rule: hsla(42, 21%, 55%, 0.5) dotted 1px;
  -webkit-column-rule: hsla(42, 21%, 55%, 0.5) dotted 1px;
  -o-column-rule: hsla(42, 21%, 55%, 0.5) dotted 1px;
}

sup { display:none;} /* kill off those comment links */


section li blockquote, section li a { font-family: sans-serif; }

blockquote { border-left: 3px solid; padding-left: 1em; }

#toc { position:fixed; bottom:0; left: 0; text-align: center; width:100%; background: hsla(42, 21%, 75%, 0.95);}
#toc a { display:inline-block; padding: 0 1em 0; text-shadow: 0px 1px 1px #fff; }
/* 

COLORS!


*/
h1 b, h2, .sucks h3, #toc a.active { color: hsl(15, 84%, 30%); }
a, a:visited, a:active { color: hsl(41, 88%, 27%); }
a:hover { color: hsl(20, 80%, 30%); }

header, header h2{ color: hsl(15, 84%, 10%); }
header h2:before { color: hsl(15, 84%, 30%); }                                  

header h1 b { text-shadow: hsl(15, 84%, 10%) 1px 1px, hsl(15, 84%, 10%) 2px 2px, hsl(15, 84%, 10%) 3px 3px, hsl(15, 84%, 10%) 4px 4px; }

h2, h3 { text-shadow: hsl(15, 84%, 10%) 1px 1px, hsl(15, 84%, 10%) 2px 2px; }
header, header h2 { text-shadow: hsl(15, 84%, 30%) 1px 1px; }
.belief { text-shadow: hsl(15, 54%, 50%) 1px 1px, hsl(15, 54%, 50%) 2px 2px; }

.intro, .belief, .sucks  { 
  background: hsla(42, 21%, 55%, 0.2);
  outline: 1px dotted hsla(42, 21%, 55%, 0.5); 
}

.sucks li li:after { border-color: hsl(41, 38%, 50%); }

/*


VERTICAL RHYTHM


*/
#container { padding-bottom: 3em; }
header { margin: 6em 0 4.5em 0; }
header h1 { 
  font-size: 1.5em; 
  line-height: 1; 
  margin: 1em 0; 
}
header h1 b { font-size: 4em; line-height: 1; }                                                                   

header h2 { font-size: 1em; line-height: 1.5; }
header h2:before { height: 3em; }

h2 { 
  font-size: 3em; 
  line-height: 1; 
}

#main h2 { margin-top: 1.5em; }
#contributors h2 { margin-top: 0.5em; }

h4 { 
  font-size: 1.2em; 
  line-height: 1.25; 
  margin: 1.25em 0; 
}

p, li { margin: 1.5em 0; padding: 0; }
p { margin: 0 0 1.5em; }
p:last-of-type, li:last-of-type { margin-bottom: 0; }

.intro { 
  padding: 1.5em 1.5em 1px 1.5em;
  outline-offset: -0.25em;
  margin-bottom: 1.5em; 
}

.intro p { margin-bottom: 1.5em; }

.incorrect:before,
.cert:before { margin-top: -1.5em; }
 
.incorrect, .cert, .noaffiliation {
  margin: 0;
  min-height: 3em;  
  padding: 1.5em 0;  
}

section nav { margin: 0.75em 0; }  

.belief {  
  padding: 0.75em 0; 
  outline-offset: -0.1em; 
  font-size: 2em;
}


.sucks {
  outline-offset: -0.25em;
  padding: 1.5em 0;
  margin: 3em 0;
}

#main .sucks h2 { margin-top: 0; }

.sucks li { padding-top: 1.5em; }
.sucks li li { padding: 3em 0 0; }

.sucks li li:after { bottom: -1.5em; }

.sucks h3 { font-size: 2em; line-height: 1.5; }

footer { 
  font-size: 0.8em; 
  line-height: 1.875; 
  margin: 5.675em 0 1.875em 0;
}

blockquote { 
  font-size: 0.8em; 
  line-height: 1.875; 
  margin-bottom: 1.875em;
}

p + blockquote { 
  margin-top: -0.937em; 
  margin-bottom: 0.937em; 
}

.sucks .intro { width: auto; outline: 0; }
.sucks .intro { margin-bottom: 1.5em; margin-top: 2.25em; }
.sucks .intro blockquote { font-size: 1.5em; line-height: 1.5em; margin-top: 1em; margin-bottom: 1em; }
.sucks .intro p { margin-bottom: 1.5em; }
.sucks > p { text-align: center; }

.quiz ul ul {
  column-rule: hsla(42, 21%, 55%, 0.5) dotted 1px;
  margin: 1.5em 0 0 0;
}

.quiz li li { padding: 0 0 1.5em 0; position: static; }
.quiz li li:after { content: none; border: 0;}

#toc { padding: 0.75em 0; }


@media screen and (max-device-width: 480px) {

}
@media print {
  body { content: "why the eff are you trying to print this, bro??"; }
}